center {
	float: none;
	margin: 0 auto;
}

.rate-star {
	margin: auto;
	text-align: center;
}

.rate-number {
	text-align: center;
	padding-bottom: 5px;
}

.star-vote {
	cursor: pointer;
}

.clickable-row {
	cursor: pointer;
}

.title3 {
	margin: auto;
}

#search-group {
	float: none;
	margin: 0 auto;
	width: 50%;
	transition: width 1s;
}

.txt-field-search{
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (min-width: 767px) {
	.panel-search{
		height: 255px;
	}
}

@media only screen and (min-width: 992px) {
	#con-search {
		max-width: 642px;
	}
}