.col-center {
	float: none;
	margin: 0 auto;
}

.rate-star {
	margin: auto;
	text-align: center;
}

.rate-number {
	text-align: center;
}

.clickable-row {
	cursor: pointer;
}

.title3 {
	margin: auto;
}

#search-group {
	float: none;
	margin: 0 auto;
	width: 50%; 
	transition : width 1s;
}

@media only screen and (min-width: 992px) {
	#con-search {
		max-width:642px;
	}
}